<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="scss/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    
</head>
<body>
    <div id="app">
        <header class="main_header">
            <h1 class="title">Список продуктов</h1>
            <button class="main_header-cart_btn">Корзина</button>
        </header>
        <main class="content">
            <div class="product_list">
                <div class="product_list-filter">
                    <input type="text" v-model="searchStr" v-on:keyup.enter="productsFilter">
                    <button class="main_header-flter_btn" @click="productsFilter">Cортировка</button>
                </div>
                <product-item v-for="item in productsFiltered" :item="item"></product-item>
                <basket-card v-if="basketCardVision">
                    <basket-goods-item v-for="item in productsFiltered" :item="item"> </basket-goods-item>
                </basket-card>
            </div>
        </main>
    </div>
    <script src="js/vue.js"></script>
</body>
</html>